body {
  margin: 0 2em;
}

.evolution-node .tile-title {
  margin-bottom: initial;
}

.evolution-node header {
  margin-bottom: 1em;
}

.evolution-node__evolutions .tile {
  margin-bottom: 1em;
}

.digimon-icon {
  width: 100px;
}
